*.o
*.ko
*.ko.cmd
*.mod.c
*.mod.o
*.symvers
*.order
modules.order

kernel-build/
driver-build/
*.img
*.cpio.gz
*.tar.xz

# QEMU
qemu-monitor.sock
*.qemu

.idea/
.vscode/
*.swp
*.swo
*~

*.log
dmesg.log

linux-*/
